{% load static %}
<header class="site-header">
  <div class="site-header-item">
    <a class="site-header-brand" href="{% url 'home' %}">
      <span>UniHand</span>
    </a>
  </div>
  <div class="site-header-menu">
    {% if user.is_authenticated %}
      <div class="site-header-item">
        <a href="#">
          <span>{{ user.username }}</span>
        </a>
      </div>
        {% if user.role == 'Student' and user.student %}
          <div class="site-header-item">
            <a href="#">
              <span>{{ user.student.student_id }}</span>  
            </a>
          </div>
        {% elif user.role == 'Professor' %}
          <div class="site-header-item">
            <a href="#">
              <span>{{ user.professor.professor_id }}</span>  
            </a>
          </div>
        {% endif %}
      <div class="site-header-item">
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit">
            <span>Logout</span>
          </button>
        </form>
      </div>
    {% else %}
      <div class="site-header-item">
        <a href="{% url 'login' %}">
          <span>Login</span>
        </a>
      </div>
    {% endif %}
  </div>
</header>