{% extends 'main/components/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'main/css/enrollment.css' %}">
{% endblock %}

{% block content %}
<section class="home-landing">
    <h1 class="home-landing-text">Enrolling Page</h1>
</section>
<section class="enroll-student">
    <h1>Enroll Student in {{ course.course_code }} - {{ course.course_name }}</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-submit">Enroll</button>
    </form>
    <a href="{% url 'enrolled_students' %}" class="btn-back">Back to Courses</a>
</section>
{% endblock %}
