{% extends 'main/components/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'main/css/grades.css' %}">
{% endblock %}

{% block content %}
<section class="home-landing">
  <h1 class="home-landing-text">My Grades</h1>
</section>

<div class="container-fluid mt-4">
  <table class="grades-table">
    <thead>
      <tr>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Grade</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      {% for item in courses_with_grades %}
      <tr>
        <td>{{ item.course.course_code }}</td>
        <td>{{ item.course.course_name }}</td>
        <td>{{ item.grade }}</td>
        <td>{{ item.comments }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4" class="text-center">No enrollments found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}